
html{
    width: 100%;
    height: 100%;
    background-image: url("ACES Crew1.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("ACES Crew1.jpg");
    position: absolute;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.header-container{
   width: 100%;
   height: 240px;
}

.logo{
    width: 270px;
    height: 200px;
    margin-left:auto;
    margin-right:auto; 
    display:block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.video-container{
    display:block;
    width: 800px;
    height: 380px;
    margin-left:auto; 
    margin-right:auto;
}
    
.video-container iframe{
    display:block;
    width: 700px;
    height: 320px;
    margin-left:auto; 
    margin-right:auto;
    padding-top: 30px;
    padding-bottom: 30px;
    opacity: 0.4;
    transition: 2s ease;
}

.video-container iframe:hover{
    opacity: 1;
    transition: 2.5s ease;
}

.stuff-container{
    width: 100%;
    height: 400px;
    opacity: 0.4;
    transition: 2s ease;
    
    display: block;
}

.stuff-container:hover{
    opacity: 1;
    transition: 2.5s ease;
}

.img-box{
    float: left;
    width: 400px;
    height: 350px;
    margin-left: 415px;
    border: 10px solid green;
    background-color: rgba(166, 185, 180, 0.658);
}

.text-box{
    float: left;
    width: 400px;
    height: 350px;
    border: 10px solid green;
    background-color: rgba(166, 185, 180, 0.658);
}

.image{
    width: 100%;
    height: 350px;
}

.text{
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
}

.clearfix::after{
    content: "";
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-container{
    width: 100%;
    height: 100px;
    background: rgb(15, 104, 15);
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.link-div{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;
    
    
}

a{
    margin: 80px;
    
}

.footer-logo{
    width: 50px;
    height: 50px;
}